name: CI/CD Pipeline

on:
  push:
    branches:
      - test

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2


      - name: Log in to Harbor
        run: |
          echo "${{ secrets.HARBOR_PASSWORD }}" | docker login ${{ secrets.HARBOR_URL }} --username ${{ secrets.HARBOR_USERNAME }} --password-stdin


      - name: Build and push Docker image
        run: |
          export DOCKER_CONTENT_TRUST=0
          docker build -t ${{ secrets.HARBOR_URL }}/mundo/timerme-test:latest .
          docker push ${{ secrets.HARBOR_URL }}/mundo/timerme-test:latest